@model bootstraptestless.ViewModels.HomeViewModel

@{
    ViewBag.Title = Model.valgtFag.Fagnavn;

    var lektionNummer = "";
}


<div class="container">
    <h1>@Html.DisplayFor(model => model.valgtFag.Fagnavn) <span style="background-color:#444444;font-size:small;color:#FFFFFF;padding:2px;">&nbsp;#@Html.DisplayFor(model => model.valgtSemester.Navn) Semester&nbsp;</span></h1>
    <div class="row">
        <div class="col-lg-6">
            <b>Vælg semester:</b>
            @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { id = "selectSemester" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()
                @Html.HiddenFor(v => v.valgtFag.friendlyFagNavn)
                @Html.DropDownList("valgtSemester", Model.ddlSemestre, new { @class = "form-control multiselect multiselect-icon", onchange = "this.form.submit();" })
            }
            <br />
        </div>
        <div class="col-lg-6">
            <div>
                <div class="btn-group" style="padding-top:20px;float:right;">
                    <div class="btn btn-group">
                        <a class="btn btn-primary dropdown-toggle" style="margin-right:5px;" data-toggle="dropdown" href="#">
                            <i class="glyphicon glyphicon-paperclip"></i>&nbsp;Filer
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-left">
                            <li><a href="#" data-toggle='modal' data-target='#Kodebesvarelser'>Opret/Slet kodebesvarelse</a></li>
                            <li><a href="#" data-toggle='modal' data-target='#UploadLektionsfiler'>Upload/Slet Lektionsfiler</a></li>
                            <li><a href="#" data-toggle='modal' data-target='#UploadLektionsbesvarelser'>Upload/Slet Lektionsbesvarelser</a></li>
                        </ul>
                    </div>
                    <div class="btn btn-group">
                        <a class="btn btn-primary dropdown-toggle" style="margin-left:-25px;" data-toggle="dropdown" href="#">
                            <i class="glyphicon glyphicon-file"></i>&nbsp;Lektion
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-left">
                            <li><a href="#" data-toggle='modal' data-target='#myModal'>Opret Lektion</a></li>
                            <li><a href="#" data-toggle='modal' data-target='#RedigerLektion'>Rediger Lektion</a></li>
                        </ul>
                        </div>

                        @*<a class="btn btn-primary" href="#" role="button" data-toggle='modal' data-target='#myModal'><i class="glyphicon glyphicon-pencil"></i>&nbsp;Opret lektion</a>*@
                    </div>
            </div>

        </div>
    </div>
</div>

<!----Udvalgt lektion---->
<div style="background-color:#000">
    <div class="container">

        <div class="row" id="valgtLektion">
            <h2>Valgt lektion</h2>
            <div class="col-lg-4">
                <div style="padding:10px 20px 10px 20px;min-height:200px;background-color:#F0F0F0;">
                    @if (Model.valgtLektion != null)
                    {
                    <h3>Lektion # @Html.DisplayFor(model => model.valgtLektion.Lektionnummer)</h3>
                    }
                    <p class="small" style="color:black;">
                        @if(Model.valgtLektion != null) { 
                        <span style="color:black;font-weight:bold;">Afholdt den </span>@Model.valgtLektion.Lektionafholdelsestid.ToString("dd/MM-yyyy - HH:mm") @:</span>
                        <br /><span style="color:black">@Model.valgtLektion.Lektionsbeskrivelse</span>
                        }
                    </p>
                </div>
                <br />
            </div>
            <div class="col-lg-4">
    
    @if(Model.lektionsfiler != null)
    {

    if ( Model.lektionsfiler.Count() <= 7)
    {
                @:<div class="activeLektion" id="Opgaver" style="padding:10px 20px 10px 20px;min-height:200px;background-color:#F0F0F0;">

                            @:<h3>Lektionsfiler</h3>
                            foreach (var item in Model.lektionsfiler)
                            {
                                 <small><a href="@item.Url" target="_blank"><i class="glyphicon glyphicon-link"></i>&nbsp;@item.Filnavn</a></small><br />
                            }

                @:</div>
    }
    else
    {
        @:<div class="activeLektion" id="Opgaver" style="min-height:200px;">
                @:<div id="front" style="background-color:#F0F0F0;padding:10px 20px 10px 20px;">
                @:<h3>Lektionsfiler</h3>
                  foreach (var item in Model.lektionsfiler.Take(5))
                    {
                        <small><a href="@item.Url" target="_blank"><i class="glyphicon glyphicon-link"></i>&nbsp;@item.Filnavn</a></small><br />
        }
        <span id="forwardflipfiler" style="width:24px;height:24px;border-radius:20px;border:1px solid #008789;background-color:#008789;position:absolute;top:35px;left:310px;z-index:900;cursor:pointer;"><i class="fa fa-caret-down" style="margin-left:7px;margin-top:4px;color:#F0F0F0;"></i></span>
                @:</div>
                @:<div id="back" style="background-color:#F0F0F0;padding:10px 20px 10px 20px;">
                @:<h3>Lektionsfiler fortsat</h3>
                    foreach (var item in Model.lektionsfiler.Skip(5))
                    {
                        <small><a href="@item.Url" target="_blank"><i class="glyphicon glyphicon-link" ></i>&nbsp;@item.Filnavn</a></small><br />
        }
        <div id="backflipfiler" style="width:24px;height:24px;border-radius:20px;border:1px solid #008789;background-color:#008789;position:absolute;top:35px;left:310px;z-index:900;cursor:pointer;"><i class="fa fa-caret-up" style="margin-left:7px;margin-top:2px;color:#F0F0F0;"></i></div>
                @:</div>
        @:</div>
    }
    }
    else
    {
        @:<div class="activeLektion" id="Opgaver" style="padding:10px 20px 10px 20px;min-height:200px;background-color:#F0F0F0;">
        @:<h3>Lektionsfiler</h3>
        @:</div>
        }
    
<br />
</div>
            <div class="col-lg-4">
    @if (Model.lektionsbesvarelser != null)
    {
    if (Model.lektionsbesvarelser.Count() <= 7)
    {
        @:<div class="activeLektion" id="Opgaver" style="padding:10px 20px 10px 20px;min-height:200px;background-color:#F0F0F0;">


                @:<h3>Besvarelser</h3>
                            foreach (var item in Model.lektionsbesvarelser)
        {
            <small><a href="@item.Url" target="_blank"><i class="glyphicon glyphicon-link"></i>&nbsp;@item.Filnavn</a></small><br />
        }

        @:</div>
                                        }
    else
    {
        @:<div class="activeLektion" id="Besvarelser" style="min-height:200px;">
                @:<div id="front" style="background-color:#F0F0F0;padding:10px 20px 10px 20px;">
                    @:<h3>Besvarelser</h3>
                  foreach (var item in Model.lektionsbesvarelser.Take(5))
                    {
            <small><a href="@item.Url" target="_blank"><i class="glyphicon glyphicon-link"></i>&nbsp;@item.Filnavn</a></small><br />
        }
        <div id="forwardflipbesvarelser" style="width:24px;height:24px;border-radius:20px;border:1px solid #008789;background-color:#008789;position:absolute;top:35px;left:310px;z-index:900;cursor:pointer;"><i class="fa fa-caret-down" style="margin-left:7px;margin-top:4px;color:#F0F0F0;"></i></div>
        @:</div>
                @:<div id="back" style="background-color:#F0F0F0;padding:10px 20px 10px 20px;">
                    @:<h3>Lektionsfiler fortsat</h3>
                    foreach (var item in Model.lektionsfiler.Skip(5))
                    {
            <small><a href="@item.Url" target="_blank"><i class="glyphicon glyphicon-link"></i>&nbsp;@item.Filnavn</a></small><br />
        }
        <div id="backflipbesvarelser" style="width:24px;height:24px;border-radius:20px;border:1px solid #008789;background-color:#008789;position:absolute;top:35px;left:310px;z-index:900;cursor:pointer;"><i class="fa fa-caret-up" style="margin-left:7px;margin-top:2px;color:#F0F0F0;"></i></div>
        @:</div>
                @:</div>
    }
    }
    else
    {
        @:<div class="activeLektion" id="Opgaver" style="padding:10px 20px 10px 20px;min-height:200px;background-color:#F0F0F0;">
        @:<h3>Besvarelser</h3>
        @:</div>

    }
<br />
            </div>
        </div>
        
    </div>
    <br />
</div>

<!--Tidligere lektioner-->
@Html.Partial("Modules/_TidligereLektioner")   

    <!-- Modal til at oprette lektioner -->
    <!-- Modal -->
@Html.Partial("Modal/_OpretLektion")   

<!-- Modal til at redigere lektioner -->
@Html.Partial("Modal/_RedigerLektion")



<!-- Modal til at uploade lektionsfiler -->
@Html.Partial("Modal/_UploadLektionsFiler")


<!-- Modal til at uploade lektionsbesvarelser -->
@Html.Partial("Modal/_UploadLektionsbesvarelser")

<!---CRUD kodebesvarelser-->
@Html.Partial("Modal/_CrudKodebesvarelser")


@Html.Partial("JavaScript/_tagitCode")
@Html.Partial("JavaScript/_validation")
@Html.Partial("JavaScript/_LektionJS")
