@model bootstraptestless.ViewModels.HomeViewModel
@{
    var antalLektioner = Model.valgtSemester.Lektioner.Count() + 1;
}

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-md" style="z-index:1051;" role="document">
        <div class="modal-content">
            <div class="modal-header" style="display:none;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

            </div>

                <div class="modal-body">
                    <h2>Opret lektion</h2><br />
                    <div class="container">
                        <form id="opretLektionForm">
                            @Html.AntiForgeryToken()
                            @Html.Hidden("fagnavn", Model.valgtFag.friendlyFagNavn)
                            @Html.Hidden("semesterid", Model.valgtSemester.Id)

                            <div class="form-group">
                                Lektionafholdelsestid:
                                <div style="width:280px;">
                                    <div class="input-group date" id="datepicker1">
                                        <input type="text" class="form-control" id="opretLektionafholdelsestid" name="opretLektionafholdelsestid" value="@DateTime.Now.ToString("dd/MM/yyyy HH:mm")" aria-describedby="sizing-addon1">
                                        <span class="input-group-addon" id="sizing-addon1"><i class="glyphicon glyphicon-calendar"></i></span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                Lektionsnummer:
                                <div>
                                    <input type="text" class="form-control" id="opretLektionsnummer" value="@antalLektioner" readonly="true" />
                                </div>
                            </div>

                            <div class="form-group">
                                Lektionbeskrivelse
                                <div>
                                    <textarea id="opretLektionsbeskrivelse" name="opretLektionsbeskrivelse" cols="100" rows="5" class="form-control"></textarea>
                                </div>
                            </div>

                            <div class="form-group">
                                Tags
                                <div>
                                    <ul id="myTags">
                                        <li></li>
                                    </ul>
                                </div>
                            </div>
                        </form>

                    </div>

                </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary opretlektion">Opret Lektion</button>
                    </div>
        </div>
    </div>
</div>

<script>
    
</script>